<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Adicionar Dispositivo</title>
</head>

<body>
    <form>
        <input matInput placeholder="" name="ip" [(ngModel)]="ip" required
            pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
            [disabled]="data.btnDisabled" />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>