<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Adicionar Dispositivo</title>
</head>

<body>
    <h1>Adicionar dispositivo</h1>

    <div class="centralizar">
        <form>
            <label>Nome do dispositivo:</label>
            <input type="text" id="nome">
            <br>
            <label>Tipo do dispositivo:</label>
            <select id="tipo">
                <option value="Computador">Computador</option>
                <option value="Dispositivo móvel">Dispositivo móvel</option>
                <option value="Gateway">Gateway</option>
                <option value="Firewall">Firewall</option>
                <option value="Switch">Switch</option>
            </select>
            <br>
            <label>Endereço IP:</label>
            <input type="text" id="ip">
            <br>
            <label>Endereço MAC:</label>
            <input type="text" id="mac" />
            <br>
            <label>Descrição do dispositivo:</label>
            <input type="text" id="descricao">
            <br>
            <label>Localização física do dispositivo:</label>
            <input id="localizacao"></input>
            <br>
        </form>
    </div>
    <p id="mensagem" hidden>Preencha todos os campos!</p>
    <p id="mensagem2" hidden>Preencha os campos IP e MAC corretamente!</p>
    <p id="mensagem3" hidden>O endereço IP ou o MAC já existem no sistema!</p>
    <button id="enviar">Enviar</button>

    <script src="js/adicionar.js"></script>
</body>

</html>