<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/list.css">
    <title>Lista de dispositivos</title>
</head>
<body>
    <h1>Tabela de dispositivos na rede</h1>
    <table id="tabela">
        <tbody>
            <tr>
            <td>Nome</td>
            <td>Endereço IP</td>
            <td>Endereço MAC</td>
            <td>Descrição</td>
            <td>Localização</td>
            <td>Tipo</td>
            </tr>
        </tbody>
    </table>
    <div class="centralizar">
        <button id="voltar">Voltar</button>
    </div>
    <script src="js/list.js"></script>
</body>
</html>