.centralizar{
    /* margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    font-size: x-large;
    font-family: 'Verdana';
}
h1{
    text-align: center;
}
input, select, textarea{
    margin-bottom: 5%;
}
button{
    font-size: x-large;
    margin: 1%;
}

#relatorio{
    text-align: left;
}
#teste {
    display: flex;
    align-items: center;
    justify-content: center;
}
#msgAlterar{
    margin-bottom: 3%;
}
select{
    font-size: x-large;
}
#descricao{
    height: 100px !important;
    width: 300px !important;
}