table {
    border-collapse: collapse;
    margin: auto;
    /* width: 50%; */
  }
  
  th, td {
    border: 1px solid black;
    text-align: center;
    padding: 1%;
    width: 5%;
}
body{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select{
  font-size: x-large;
}

